@import '../../styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
  max-height: 100vh;
  overflow: hidden;

  .control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .dateBlock {
      display: flex;
      align-items: flex-end;
      gap: 5px;
    }

    .timeBlock {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 500px;
    gap: 10px;
    padding: 0 10px;
    max-height: 90vh;
    overflow: hidden;

    .lastFeeding {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;

      .time {
        color: $gold-light;
      }
    }

    .rows {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      width: 100%;
      max-height: 85vh;
      overflow-x: hidden;
      overflow-y: auto;

      -ms-overflow-style: none; /* IE, Edge */
      scrollbar-width: none; /* Firefox */

      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari, Opera */
      }

      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        gap: 10px;
        padding: 5px 10px;
        width: 100%;
        height: 50px;
        font-family: 'Noto Sans Symbols 2', 'Montserrat', sans-serif;
        font-size: 24px;
        position: relative;

        .time {
          display: flex;
          gap: 20px;
        }

        .offset {
          position: absolute;
          top: -40px;
          right: 50px;
          color: $green-light;
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
        }

        .text {
          max-height: 34px;
        }

        .remove {
          cursor: pointer;

          &:hover > svg > path{
            color: $red-main !important;
          }
        }

        &:nth-child(odd) {
          background: $white-5;
        }
      }
    }
  }
}

.input {
  height: 36px;
  width: 36px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  color: $text-main;
  background: $like-white-10;

  &.error {
    color: $bg-main;
    background: $red-light;
  }

  &.wide {
    width: 62px;
  }
}

.sign {
  font-weight: bold;
  font-size: 25px;
}