@import '../../styles/colors.scss';

.block {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .title {
      font-weight: normal;
      font-size: 1.2rem;
      color: $orange-main;
    }

    .list {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      .item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;

        .link {
          color: $blue-main;

          &:hover {
            color: $blue-light;
          }

          &:active {
            color: $blue-dark;
          }
        }
      }

      .table {
        margin-top: 0.5rem;
        border-spacing: 0;

        .header {
          .headerCell {
            &:first-child {
              border-radius: 0.5rem 0 0 0.5rem;
            }

            &:last-child {
              border-radius:  0 0.5rem 0.5rem 0;
            }

            padding: 1rem;
            color: $orange-light;
            background: $black-25;
          }
        }

        .row {
          &:nth-child(odd) {
            background: $white-5;
          }

          .rowCell {
            &:first-child {
              border-radius: 0.5rem 0 0 0.5rem;
            }

            &:last-child {
              border-radius:  0 0.5rem 0.5rem 0;
            }

            margin-top: 0.25rem;
            padding: 1rem;
          }
        }
      }
    }
  }

  .iframe {
    border: 0;
  }
}