@import '../../styles/colors.scss';

button {
  padding: 8px;
  min-width: 100px;
  max-height: 40px;
  min-height: 40px;
  border: 0;
  border-radius: 8px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  cursor: pointer;
  color: $bg-main;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: background-color ease-in 200ms;

  &:hover,
  &:active {
    transition: background-color ease-in 200ms;
  }

  &.icon {
    min-width: 40px;
    max-width: 40px;

    & svg {
      max-width: 18px;
      max-height: 18px;
    }
  }

  &.full {
    width: 100% !important;
  }

  &.round {
    border-radius: 20px !important;
  }

  & .disabler {
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    cursor: not-allowed !important;
    background-color: $black-50 !important;
  }

  & .loader {
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: progress !important;
    color: currentColor;
  }

  &.red {
    background-color: $red-light;

    & .loader {
      background-color: $red-light;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $red-main;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $red-dark;
    }
  }

  &.volcano {
    background-color: $volcano-light;

    & .loader {
      background-color: $volcano-light;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $volcano-main;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $volcano-dark;
    }
  }

  &.orange {
    background-color: $orange-light;

    & .loader {
      background-color: $orange-light;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $orange-main;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $orange-dark;
    }
  }

  &.gold {
    background-color: $gold-light;

    & .loader {
      background-color: $gold-light;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $gold-main;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $gold-dark;
    }
  }

  &.yellow {
    background-color: $yellow-light;

    & .loader {
      background-color: $yellow-light;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $yellow-main;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $yellow-dark;
    }
  }

  &.lime {
    background-color: $lime-light;

    & .loader {
      background-color: $lime-light;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $lime-main;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $lime-dark;
    }
  }

  &.green {
    background-color: $green-light;

    & .loader {
      background-color: $green-light;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $green-main;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $green-dark;
    }
  }

  &.cyan {
    background-color: $cyan-light;

    & .loader {
      background-color: $cyan-light;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $cyan-main;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $cyan-dark;
    }
  }

  &.blue {
    background-color: $blue-light;

    & .loader {
      background-color: $blue-light;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $blue-main;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $blue-dark;
    }
  }

  &.deepblue {
    background-color: $deepblue-light;

    & .loader {
      background-color: $deepblue-light;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $deepblue-main;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $deepblue-dark;
    }
  }

  &.purple {
    background-color: $purple-light;

    & .loader {
      background-color: $purple-light;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $purple-main;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $purple-dark;
    }
  }

  &.pink {
    background-color: $pink-light;

    & .loader {
      background-color: $pink-light;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $pink-main;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $pink-dark;
    }
  }

  &.red-inverse {
    color: $red-light;
    background-color: $white-10;

    & .loader {
      background-color: $like-white-10;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $white-15 !important;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $white-20 !important;
    }
  }

  &.volcano-inverse {
    color: $volcano-light;
    background-color: $white-10;

    & .loader {
      background-color: $like-white-10;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $white-15 !important;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $white-20 !important;
    }
  }

  &.orange-inverse {
    color: $orange-light;
    background-color: $white-10;

    & .loader {
      background-color: $like-white-10;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $white-15 !important;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $white-20 !important;
    }
  }

  &.gold-inverse {
    color: $gold-light;
    background-color: $white-10;

    & .loader {
      background-color: $like-white-10;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $white-15 !important;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $white-20 !important;
    }
  }

  &.yellow-inverse {
    color: $yellow-light;
    background-color: $white-10;

    & .loader {
      background-color: $like-white-10;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $white-15 !important;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $white-20 !important;
    }
  }

  &.lime-inverse {
    color: $lime-light;
    background-color: $white-10;

    & .loader {
      background-color: $like-white-10;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $white-15 !important;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $white-20 !important;
    }
  }

  &.green-inverse {
    color: $green-light;
    background-color: $white-10;

    & .loader {
      background-color: $like-white-10;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $white-15 !important;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $white-20 !important;
    }
  }

  &.cyan-inverse {
    color: $cyan-light;
    background-color: $white-10;

    & .loader {
      background-color: $like-white-10;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $white-15 !important;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $white-20 !important;
    }
  }

  &.blue-inverse {
    color: $blue-light;
    background-color: $white-10;

    & .loader {
      background-color: $like-white-10;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $white-15 !important;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $white-20 !important;
    }
  }

  &.deepblue-inverse {
    color: $deepblue-light;
    background-color: $white-10;

    & .loader {
      background-color: $like-white-10;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $white-15 !important;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $white-20 !important;
    }
  }

  &.purple-inverse {
    color: $purple-light;
    background-color: $white-10;

    & .loader {
      background-color: $like-white-10;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $white-15 !important;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $white-20 !important;
    }
  }

  &.pink-inverse {
    color: $pink-light;
    background-color: $white-10;

    & .loader {
      background-color: $like-white-10;
    }

    &:hover:not(.disabled):not(.loading) {
      background-color: $white-15 !important;
    }

    &:active:not(.disabled):not(.loading) {
      background-color: $white-20 !important;
    }
  }
}