$red-light: #f8646c;
$red-main: #f74c55;
$red-dark: #f6333e;
$volcano-light: #fb8760;
$volcano-main: #fa7447;
$volcano-dark: #fa612e;
$orange-light: #fbae5b;
$orange-main: #faa242;
$orange-dark: #fa9529;
$gold-light: #fbc55a;
$gold-main: #fabc41;
$gold-dark: #fab328;
$yellow-light: #fced89;
$yellow-main: #fbe970;
$yellow-dark: #fbe557;
$lime-light: #bce458;
$lime-main: #b3e042;
$lime-dark: #aadd2c;
$green-light: #85d55e;
$green-main: #76d04a;
$green-dark: #66ca36;
$cyan-light: #89e0e0;
$cyan-main: #75dbdb;
$cyan-dark: #61d5d5;
$blue-light: #74bcff;
$blue-main: #5ab0ff;
$blue-dark: #41a3ff;
$deepblue-light: #6d87f1;
$deepblue-main: #5674ef;
$deepblue-dark: #3e61ed;
$purple-light: #aa81e3;
$purple-main: #9c6cde;
$purple-dark: #8e57da;
$pink-light: #f16db5;
$pink-main: #ef56a9;
$pink-dark: #ed3e9d;

$white: #fff;
$white-5: rgba(255, 255, 255, 0.05);
$white-10: rgba(255, 255, 255, 0.1);
$white-15: rgba(255, 255, 255, 0.15);
$white-20: rgba(255, 255, 255, 0.2);

$like-white-10: #353639;
$like-white-15: #404043;
$like-white-20: #4b4c4e;

$black: #000;
$black-15: rgba(0, 0, 0, 0.15);
$black-25: rgba(0, 0, 0, 0.25);
$black-30: rgba(0, 0, 0, 0.3);
$black-50: rgba(0, 0, 0, 0.5);

$text-main: #a9acb7;
$bg-main: #1e1f22;
