@import '../../styles/colors';

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.icon {
  color: inherit;
  line-height: 0;

  & > svg {
    fill: currentColor;
  }

  &.spin {
    animation: spin 1s linear infinite;
  }

  &.white {
    color: $white;
  }

  &.black {
    color: $black;
  }

  &.pink {
    color: $pink-dark;
  }

  &.red {
    color: $red-dark;
  }

  &.volcano {
    color: $volcano-dark;
  }

  &.orange {
    color: $orange-dark;
  }

  &.gold {
    color: $gold-dark;
  }

  &.yellow {
    color: $yellow-dark;
  }

  &.lime {
    color: $lime-dark;
  }

  &.green {
    color: $green-dark;
  }

  &.cyan {
    color: $cyan-dark;
  }

  &.blue {
    color: $blue-dark;
  }

  &.deepblue {
    color: $deepblue-dark;
  }

  &.purple {
    color: $purple-dark;
  }
}