@import '../../../styles/colors.scss';

.container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;

  .controlBlock {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

    .controls {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 8px;

      .checkbox {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
      }
    }

    .colors {
      display: flex;
      gap: 10px;
      width: 300px;
      height: max-content;
      padding: 5px;
      flex-wrap: wrap;

      .colorBox {
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 8px;
        background-color: $white-5;
        position: relative;
        overflow: hidden;

        &.default {
          &:before {
            position: absolute;
            top: 20px;
            left: -5px;
            right: -5px;
            bottom: 20px;
            content: '';
            border: 1px solid $red-light;
            transform: rotate(45deg);
          }
        }

        &.red {
          background-color: $red-light;
        }

        &.volcano {
          background-color: $volcano-light;
        }

        &.orange {
          background-color: $orange-light;
        }

        &.gold {
          background-color: $gold-light;
        }

        &.yellow {
          background-color: $yellow-light;
        }

        &.lime {
          background-color: $lime-light;
        }

        &.green {
          background-color: $green-light;
        }

        &.cyan {
          background-color: $cyan-light;
        }

        &.blue {
          background-color: $blue-light;
        }

        &.deepblue {
          background-color: $deepblue-light;
        }

        &.purple {
          background-color: $purple-light;
        }

        &.pink {
          background-color: $pink-light;
        }
      }
    }
  }

  .demoBlock {
    width: 720px;
    height: 720px;
    position: relative;
    background-color: $black-15;
    border-radius: 16px;
    padding: 20px;
    margin-top: 40px;

    & .position {
      width: 120px;
      min-height: 120px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $black-15;
      border-radius: 16px;

      &.top-left {
        top: 20px;
        left: 160px;
      }

      &.top-center {
        top: 20px;
        left: 300px;
      }

      &.top-right {
        top: 20px;
        left: 440px;
      }

      &.bottom-left {
        bottom: 20px;
        left: 160px;
      }

      &.bottom-center {
        bottom: 20px;
        left: 300px;
      }

      &.bottom-right {
        bottom: 20px;
        left: 440px;
      }

      &.left-top {
        top: 160px;
        left: 20px;
      }

      &.left-center {
        top: 300px;
        left: 20px;
      }

      &.left-bottom {
        top: 440px;
        left: 20px;
      }

      &.right-top {
        top: 160px;
        right: 20px;
      }

      &.right-center {
        top: 300px;
        right: 20px;
      }

      &.right-bottom {
        top: 440px;
        right: 20px;
      }
    }
  }
}

